.hidden {
    display: none !important;
}

.moved-description.InputGroup {
    float: right;
    position: absolute;
    right: 10px;
}

.moved-description.InputGroup > #mce_4, #ctl00_mainContainer_uxTabs_ctl12_uxInfoDescriptionEn_ifr {
    height: 510px !important;
}

.moved-description.InputGroup > #mce_4, #ctl00_mainContainer_uxTabs_ctl12_uxInfoDescriptionEn_ifr.moved-description {
    width: 600px !important;
}

.new-apply-button {
    font-size: 24px;

    cursor: pointer;

    margin: 10px;
}

.coop-navigator-improved-job-view {
    width: calc(100vw - 212px);
    height: 800px;
}

.coop-navigator-improved-job-link {
    cursor: pointer;
    text-decoration: underline;
}